<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignInProcess</servlet-name>
  	<servlet-class>com.tadigital.webapp4.servlets.SignInProcess</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignInProcess</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
</web-app>
